History/*
Project Logs/*
Project Outputs/*
01_SCH/__Previews/*
01_SCH/History/*
02_PCB/__Previews/*
02_PCB/History/*
04_OUTPUT_FILES/__Previews/*
04_OUTPUT_FILES/Status Report.Txt
04_OUTPUT_FILES/History/*
